@import "tailwindcss";

@layer base {
  body {
    font-family: "Poppins", sans-serif;
    background: #ffffffff;
  }
}

.Poppins-font * {
  font-family: 'Poppins', sans-serif;
}

input:focus {
  outline: none;
}