@import "tailwindcss";

@layer base {
  body {
    font-family: "Inter", sans-serif;
    background: #ffffffff;
  }
}

.Inter-font * {
  font-family: 'Inter', sans-serif;
}

input:focus {
  outline: none;
}